/* global styling */
html {
	font-family: 'Ibarra Real Nova', serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 3.5rem;
	margin: 1rem;
}

/* global layout styling */
body {
	display: flex;
	flex-flow: column;
}

body main {
	display: flex;
	flex-direction: column;
	max-width: 720px;
	margin: 0 auto;
	flex: 1 0 auto;
}

footer {
	flex: 0 0;
	margin-top: 2.5rem;
}

/* global header styling */

header {
	display: flex;
	align-items: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
}

nav ul li {
	font-size: 1.25rem;
	margin: 0 2.5rem 0 1.25rem;
}

/* home '/' styling */

.blurb {
	font-family: 'Josefin Slab', serif;
	font-weight: 500;
	font-size: 1.5rem;
	margin-left: 2.5rem;
}

#home-page {
	margin: 0;
}

/* '/projects' styling */

/* wrapper container for each project */
.project-view {
	height: 500px;
	width: 720px;
	padding: 0;
	overflow: hidden;
	border: 2px solid darkgrey;
	box-sizing: border-box;
}

/* style configurations for each iframe */
#freelancersCalendar {
	height: 100%;
	width: 100%;
}

#soccerSite {
	height: 800px;
	width: 1100px;
	transform: scale(.65);
	transform-origin: 0 0;
}

/* a gist (so embedded script)- applies to wrapper div */
#nand2tetris {
	overflow: scroll;
	height: 100%;
}
